@import "tailwindcss";

@theme {
  --color-lightest: oklch(0.97 0.02 83.33);
  --color-medium: oklch(0.83 0.03 83.33);
  --color-dark: oklch(0.32 0.02 83.33);
  --color-darkest: oklch(0.19 0.01 83.33);
  --color-accent: oklch(0.68 0.2 29.74);
}

.background-accent {
  background-color: var(--color-accent);
}
